.student-table {
    width: 1200px;
    border-collapse: separate;
    border-spacing: 0 10px;
    background-color: #f9f9f9;
    border: none;

}

.student-table th,
.student-table td {
    padding: 15px;
    text-align: left;
    border-bottom: none;
    font-size: 14px;
    /* border: 1px solid red; */
}

.student-table th {
    color: var(--color-gray);
    font-weight: normal;
    font-family: Mada;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;

}

.date {
    width: 20%;
}

.sum {
    width: 30%;
}


.children-count {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-status {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.school-attendance {
    width: 200px;
    text-align: center;

}

.names-person {
    width: 25%;
}

.level {
    width: 13%;
}


.checkbox-index {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.person-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.student-info img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.gender {
    font-weight: bold;
    color: #009688;
}

.birthday,
.student-info,
.groups {
    font-family: Mada;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: var(--color-primary-3);

}

/* .groups, .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.student-table td[style*="red"] {
    color: #f44336;
}

.attendance {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-yes {
    color: #009688;
}

.attendance-no {
    color: #f44336;
}

.payment-btn {
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--color-light-gray-2);
    padding: 6px;
    cursor: pointer;
    color: var(--color-primary-3);
    border-radius: 4px;
    font-family: Mada;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
}

/* .payment-btn:hover {
    background-color: #e0e0e0;
} */

.delete-edit {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.edit-btn,
.delete-btn {
    width: 36px;
    height: 36px;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    padding: "6px",
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #009688;
}

input[type="checkbox"]:checked {
    accent-color: #009688;
}

.student-table tbody tr {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.student-table tbody tr:hover {
    background-color: #f1f1f1;
}