modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = 41688325
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ../CRM_back && npm run start:dev"

[[workflows.workflow]]
name = "Frontend"
author = 41688325
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
