* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mada;
}

:root {
  --color-primary-1: #557C83;
  --color-primary-2: #3AADA8;
  --color-primary-3: #1C274C;
  --color-white: #FFFFFF;
  --color-light-gray-1: #F9F9F9;
  --color-accent-1: #FF5F5F;
  --color-light-gray-2: #DDDDDD;
  --color-gray: #9F9F9F;
  --color-blue-1: #C3E1FF;
  --color-accent-2: #68E3DE;
  --color-primary-4: #8AC5C2;
}

body {
  background-color: var(--color-light-gray-1)
}